---
import Layout from '../layouts/Layout.astro';
import Teams from '../components/Teams.astro';
const title = 'Sport schedule';
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <Teams />
  </main>
</Layout>

<!-- {teams.map((team) => <li><Card title={team.teamName.fr} body={team.placeName.default} logo={team.teamLogo} /></li>)} -->
<!-- {teams.map((team) => <Card title={team.fullName} body={team.franchiseId} />)} -->
